# @format

services:
  db:
    image: "postgres:${DB_VERSION}"
    restart: always
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - CinaGloriaDB:/var/lib/postgresql/${DB_VERSION}/docker
    ports:
      - "${DB_PORT}:5432"
    networks:
      - db
  app:
    build: ./server
    depends_on:
      - db
    volumes:
      - ./server:/app:rw
      - CinaGloriaDeps:/app/node_modules:rw
    env_file:
      - ./.env
    command: >
      sh -c "if [ \"$NODE_ENV\" = \"PRODUCTION\" ]; 
      then npm run start; 
      else npm run start:dev --manual; 
      fi"
    networks:
      - db
    ports:
      - ${PORT}:${PORT}

volumes:
  CinaGloriaDB:
  CinaGloriaDeps:
networks:
  db:
